.home {
    height: 80vh;
    display: flex;
}

.stack{
    flex: 1;
}
.home-postings {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 72vh;
    padding-right: 20px;
}

.home-post {
    border: 1px solid teal;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.acc-postings {
    width: 35%;
    position: relative;
    left: 32.5%;
}
.acc-post {
    border: 1px solid teal;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}


.home-content {
    padding: 20px;
}

.home-apply button {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
}

.home-apply button:hover {
    background-color: #006d6d;
}

.home-edit button {
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
}

.home-edit button:hover {
    background-color: #006d6d;
}

.job-posting-header {
    margin-left: 15px;
}

.button-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.button-link:hover {
    background-color: #0069d9;
}

.test {
    display: inline;
    padding: 0.5rem 1rem;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.test:hover {
    background-color: #0069d9;
}

.h1 {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.p {
    color: teal;
}

.view-posting {
    flex: 1;
    padding: 20px;
    overflow: auto;
    height: 78vh;
    background-color: white;
}

.view-posting h1 {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.view-posting h2 {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.view-posting p {
    color: black;
    margin-bottom: 20px;
}

.view-posting button {
    background-color: teal; /* Set the button color to teal */
    color: white; /* Set the text color to white */
    border: none; /* Remove the button border */
    border-radius: 10px; /* Make the button rounded */
    padding: 10px 20px; /* Add some padding to the button */
    cursor: pointer; /* Add a pointer cursor to the button */
}

.view-posting button:hover {
    background-color: #006d6d; /* Darken the button color on hover */
}